* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background-color: rgb(245, 245, 247);
    color: rgba(0, 0, 0, 0.8);
    position: relative;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}

.project {
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.search {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.search input {
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search button {
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: #ffff;
    padding: 0 10px;
}

ul .list {
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
}

ul {
    width: 100%;
    margin-top: 50px;
}

ul .list .left {
    display: flex;
    column-gap: 10px;
}

ul .list .right {
    display: flex;
    column-gap: 15px;
}

ul .list .right i:nth-child(1) {
    color: blue;
}

ul .list .right i:nth-child(2) {
    color: red;
}

.contentNodeList {
    background-color: rgb(161, 161, 163);
    padding: 2px;
    width: 100%;
    border-radius: 15px;
    color: #ffff;
    padding-left: 10px;
}

.confirmTodoList {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-content: space-between;
    background-color: #ffff;
    padding: 20px;
    line-height: 1.5;
    border-radius: 10px;
    position: fixed;
    z-index: 1000;
    top: 40%;
    left: 40%;
    display: none;
}

.confirmTodoList .alert {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.confirmTodoList .alert button {
    background-color: #ffff;
}

.confirmTodoList .alert-1 {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.confirmTodoList .alert-1>i {
    background-color: red;
    color: #ffff;
    width: 20px;
    height: 17px;
    border-radius: 50px;
    text-align: center;
}

.confirmTodoList .alert-2 {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.confirmTodoList .alert-2>button {
    padding: 10px 20px;
    border-radius: 10px;
}

.confirmTodoList .alert-2 button:nth-child(2) {
    background-color: blue;
    color: #ffff;
}

#editInput {
    width: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 30px;
    padding-left: 10px;
}

#clickEditButton {
    width: 70px;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: orange;
    color: #ffff;
}

#done {
    cursor: pointer;
}

.active {
    text-decoration: line-through;
}